{{!-- A partial is a code snippet that can be used elsewhere --}}
{{!-- Add btn to add new stories --}}

<div class="fixed-action-btn">
    <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>


{{!-- Add it into layouts/main.hbs as {{>_add_btn}} in the <body> --}}