/* Our own styling that will override materialize */

p {
    margin: 10px 0!important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

/* Make the edit icon in the blue circle smaller, override materialize */
.fa-small {
    font-size: 16px !important; 
}

/* Move trash icon beside edit icon in dashboard */
.btn-float {
    float: left;
    margin-right: 10px;
}

/* from show.hbs -> Single Story, user profile img size */
.img-small {
    width: 150px;
}